nav
    margin: 0 auto
    text-align: center
    position: fixed
    top: 0
    width: 100%
    background-color: #000000bb
    max-height: 40px
    overflow: hidden

    ul
        padding: 0
        text-align: center
        list-style-type: none
        li
            display: inline-block
            font-size: 26px
            padding: 5px 10px
            background-color: blue
            border-style: solid
            border-left-width: 1px
            border-right-width: 1px
            border-top-width: 0
            border-bottom-width: 0
            a
                text-decoration: none
                color: black
